.version.logs /* version checker */
{
	color: #000013;
	background-color: #3A855C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-width: 960px;
	min-height: 135px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 365px;
	margin-left: auto;
	margin-right: auto;
}

#u631
{
	z-index: 33;
	width: 69px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 25px;
}

#pmenuu123
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 100px;
}

#menuu123
{
	z-index: 2;
	width: 0px;
}

#u124
{
	width: 166px;
	min-height: 42px;
	margin-right: -10000px;
}

#u125
{
	width: 166px;
	padding-bottom: 25px;
}

#u125:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u131
{
	width: 166px;
	min-height: 42px;
	margin-right: -10000px;
	left: 168px;
}

#u134
{
	width: 166px;
	padding-bottom: 25px;
}

#u125.MuseMenuActive,#u134:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u145
{
	width: 166px;
	min-height: 42px;
	margin-right: -10000px;
	left: 336px;
}

#u146
{
	width: 166px;
	padding-bottom: 25px;
}

#u134.MuseMenuActive,#u146:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u146.MuseMenuActive
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u127-4_clip,#u135-4_clip,#u147-4_clip
{
	width: 166px;
	height: 17px;
}

#u158
{
	width: 167px;
	min-height: 42px;
	margin-right: -10000px;
	left: 504px;
}

#u161
{
	width: 167px;
	padding-bottom: 25px;
}

#u161:hover
{
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u586
{
	width: 167px;
	min-height: 42px;
	margin-right: -10000px;
	left: 673px;
}

#u589
{
	width: 167px;
	padding-bottom: 25px;
}

#u161.MuseMenuActive,#u589:hover
{
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u589.MuseMenuActive
{
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u163-4_clip,#u591-4_clip
{
	width: 167px;
	height: 17px;
}

#u127-4,#u135-4,#u147-4,#u163-4,#u591-4
{
	margin-right: -10000px;
	top: 12px;
}

#pu593-4
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 42px;
}

#u593-4
{
	z-index: 35;
	width: 48px;
	min-height: 13px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#buttonu595
{
	z-index: 43;
	width: 151px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 57px;
}

#buttonu595:hover
{
	background-color: #545454;
	width: 151px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u597-4
{
	z-index: 44;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color: #3C3C3C;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 19px;
}

#buttonu595:hover #u597-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 3px -10000px 0px 0px;
}

#buttonu595:hover #u597-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu598
{
	z-index: 48;
	width: 66px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 217px;
}

#buttonu598:hover
{
	background-color: #545454;
	width: 66px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u599-4
{
	z-index: 49;
	width: 35px;
	min-height: 23px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color: #3C3C3C;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 16px;
}

#buttonu598:hover #u599-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 35px;
	margin: 4px -10000px 0px 0px;
}

#buttonu598:hover #u599-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u594-4
{
	z-index: 39;
	width: 48px;
	min-height: 13px;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 392px;
}

#buttonu600
{
	z-index: 53;
	width: 151px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 452px;
}

#buttonu600:hover
{
	background-color: #545454;
	width: 151px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu595.ButtonSelected,#buttonu600.ButtonSelected
{
	background-color: #CACACA;
	width: 151px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u601-4
{
	z-index: 54;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color: #3C3C3C;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 19px;
}

#buttonu595.ButtonSelected #u597-4,#buttonu600:hover #u601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 3px -10000px 0px 0px;
}

#buttonu600.ButtonSelected #u601-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 3px -10000px 0px 0px;
}

#buttonu600:hover #u601-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu602
{
	z-index: 58;
	width: 66px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#buttonu602:hover
{
	background-color: #545454;
	width: 66px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu598.ButtonSelected,#buttonu602.ButtonSelected
{
	background-color: #CACACA;
	width: 66px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u603-4
{
	z-index: 59;
	width: 35px;
	min-height: 23px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color: #3C3C3C;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 16px;
}

#buttonu598.ButtonSelected #u599-4,#buttonu602:hover #u603-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 35px;
	margin: 4px -10000px 0px 0px;
}

#buttonu602.ButtonSelected #u603-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 35px;
	margin: 4px -10000px 0px 0px;
}

#buttonu602:hover #u603-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu595.ButtonSelected #u597-4 p,#buttonu598.ButtonSelected #u599-4 p,#buttonu600.ButtonSelected #u601-4 p,#buttonu602.ButtonSelected #u603-4 p
{
	color: #3C3C3C;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

