.version.registros /* version checker */
{
	color: #0000ED;
	background-color: #9B53BE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 922px;
	min-height: 431px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px 19px 61px;
}

#pu631
{
	width: 0.01px;
	margin-left: 6px;
}

#u631
{
	z-index: 33;
	width: 69px;
	margin-right: -10000px;
}

#menuu123
{
	z-index: 2;
	width: 840px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 75px;
}

#u124
{
	width: 166px;
	min-height: 42px;
	margin-right: -10000px;
}

#u125
{
	width: 166px;
	padding-bottom: 25px;
}

#u125:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u131
{
	width: 166px;
	min-height: 42px;
	margin-right: -10000px;
	left: 168px;
}

#u134
{
	width: 166px;
	padding-bottom: 25px;
}

#u125.MuseMenuActive,#u134:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u145
{
	width: 166px;
	min-height: 42px;
	margin-right: -10000px;
	left: 336px;
}

#u146
{
	width: 166px;
	padding-bottom: 25px;
}

#u134.MuseMenuActive,#u146:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u146.MuseMenuActive
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u127-4_clip,#u135-4_clip,#u147-4_clip
{
	width: 166px;
	height: 17px;
}

#u158
{
	width: 167px;
	min-height: 42px;
	margin-right: -10000px;
	left: 504px;
}

#u161
{
	width: 167px;
	padding-bottom: 25px;
}

#u161:hover
{
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u586
{
	width: 167px;
	min-height: 42px;
	margin-right: -10000px;
	left: 673px;
}

#u589
{
	width: 167px;
	padding-bottom: 25px;
}

#u161.MuseMenuActive,#u589:hover
{
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u589.MuseMenuActive
{
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u163-4_clip,#u591-4_clip
{
	width: 167px;
	height: 17px;
}

#u127-4,#u135-4,#u147-4,#u163-4,#u591-4
{
	margin-right: -10000px;
	top: 12px;
}

#accordionu481
{
	z-index: 35;
	width: 920px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u525
{
	z-index: 36;
	width: 920px;
	background-color: transparent;
	position: relative;
}

#u539-4
{
	z-index: 37;
	width: 908px;
	min-height: 33px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #003C8C;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	line-height: 24px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u539-4:hover
{
	background-color: #930049;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 33px;
	width: 908px;
	margin: 0px;
}

#u539-4:active
{
	background-color: #930049;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 33px;
	width: 908px;
	margin: 0px;
}

#u539-4.AccordionPanelTabOpen
{
	background-color: #76419C;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 33px;
	width: 908px;
	margin: 0px;
}

#u526
{
	z-index: 41;
	width: 230px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	padding: 23px 639px 118.65454545454554px 49px;
}

#u526:hover
{
	background-color: #FFFFFF;
	width: 230px;
	min-height: 0px;
	margin: 0px;
}

#buttonu527
{
	z-index: 42;
	width: 231px;
	border-color: #787878;
	background-color: #4EA0C9;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
}

#buttonu527:hover
{
	background-color: #930049;
	width: 231px;
	min-height: 0px;
	margin: 0px;
}

#buttonu527.ButtonSelected
{
	background-color: #76419C;
	width: 231px;
	min-height: 0px;
	margin: 0px;
}

#u529-4
{
	z-index: 43;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 56px;
}

#buttonu527:hover #u529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 9px -10000px 0px 0px;
}

#buttonu527.ButtonSelected #u529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 9px -10000px 0px 0px;
}

#buttonu527:hover #u529-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu533
{
	z-index: 47;
	width: 231px;
	border-color: #787878;
	background-color: #4EA0C9;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-top: 39px;
	position: relative;
}

#buttonu533:hover
{
	background-color: #930049;
	width: 231px;
	min-height: 0px;
	margin: 39px 0px 0px;
}

#buttonu533.ButtonSelected
{
	background-color: #76419C;
	width: 231px;
	min-height: 0px;
	margin: 39px 0px 0px;
}

#u534-4
{
	z-index: 48;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 56px;
}

#buttonu533:hover #u534-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 10px -10000px 0px 0px;
}

#buttonu533.ButtonSelected #u534-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 10px -10000px 0px 0px;
}

#buttonu527.ButtonSelected #u529-4 p,#buttonu533:hover #u534-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu533.ButtonSelected #u534-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u510
{
	z-index: 52;
	width: 920px;
	background-color: transparent;
	position: relative;
}

#u524-4
{
	z-index: 53;
	width: 908px;
	min-height: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #003C8C;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	line-height: 24px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u524-4:hover
{
	background-color: #930049;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 908px;
	margin: 0px;
}

#u524-4:active
{
	background-color: #930049;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 908px;
	margin: 0px;
}

#u524-4.AccordionPanelTabOpen
{
	background-color: #76419C;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 24px;
	width: 908px;
	margin: 0px;
}

#u539-4.AccordionPanelTabOpen p,#u524-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 24px;
}

#u511
{
	z-index: 57;
	width: 918px;
	height: 239px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u511:hover
{
	background-color: #FFFFFF;
	width: 918px;
	height: 239px;
	min-height: 0px;
	margin: 0px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

