#menuu123
{
	border-style: none;
	border-color: transparent;
	background-color: #9BB5D2;
	position: relative;
}

#u125
{
	background-color: #4EA0C9;
	position: relative;
}

#u125:hover
{
	background-color: #930049;
}

#u134
{
	background-color: #4EA0C9;
	position: relative;
}

#u134:hover
{
	background-color: #930049;
}

#u146
{
	background-color: #4EA0C9;
	position: relative;
}

#u146:hover
{
	background-color: #930049;
}

#u161
{
	background-color: #4EA0C9;
	position: relative;
}

#u161:hover
{
	background-color: #930049;
}

#u631,#u124,#u131,#u145,#u158,#u586
{
	background-color: transparent;
	position: relative;
}

#u589
{
	background-color: #4EA0C9;
	position: relative;
}

#u589:hover
{
	background-color: #930049;
}

#u125.MuseMenuActive,#u134.MuseMenuActive,#u146.MuseMenuActive,#u161.MuseMenuActive,#u589.MuseMenuActive
{
	background-color: #76419C;
}

#u127-4,#u135-4,#u147-4,#u163-4,#u591-4
{
	position: relative;
}

#u127-4_clip,#u135-4_clip,#u147-4_clip,#u163-4_clip,#u591-4_clip
{
	overflow: hidden;
	vertical-align: top;
}

#u127-4_img,#u135-4_img,#u147-4_img,#u163-4_img,#u591-4_img
{
	display: block;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

