.version.puertas /* version checker */
{
	color: #0000EF;
	background-color: #BC9031;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 922px;
	min-height: 430px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px 19px 62px;
}

#pu631
{
	width: 0.01px;
	margin-left: 6px;
}

#u631
{
	z-index: 33;
	width: 69px;
	margin-right: -10000px;
}

#menuu123
{
	z-index: 2;
	width: 840px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 75px;
}

#u124
{
	width: 166px;
	min-height: 42px;
	margin-right: -10000px;
}

#u125
{
	width: 166px;
	padding-bottom: 25px;
}

#u125:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u131
{
	width: 166px;
	min-height: 42px;
	margin-right: -10000px;
	left: 168px;
}

#u134
{
	width: 166px;
	padding-bottom: 25px;
}

#u125.MuseMenuActive,#u134:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u145
{
	width: 166px;
	min-height: 42px;
	margin-right: -10000px;
	left: 336px;
}

#u146
{
	width: 166px;
	padding-bottom: 25px;
}

#u134.MuseMenuActive,#u146:hover
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u146.MuseMenuActive
{
	width: 166px;
	min-height: 0px;
	margin: 0px;
}

#u127-4_clip,#u135-4_clip,#u147-4_clip
{
	width: 166px;
	height: 17px;
}

#u158
{
	width: 167px;
	min-height: 42px;
	margin-right: -10000px;
	left: 504px;
}

#u161
{
	width: 167px;
	padding-bottom: 25px;
}

#u161:hover
{
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u586
{
	width: 167px;
	min-height: 42px;
	margin-right: -10000px;
	left: 673px;
}

#u589
{
	width: 167px;
	padding-bottom: 25px;
}

#u161.MuseMenuActive,#u589:hover
{
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u589.MuseMenuActive
{
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u163-4_clip,#u591-4_clip
{
	width: 167px;
	height: 17px;
}

#u127-4,#u135-4,#u147-4,#u163-4,#u591-4
{
	margin-right: -10000px;
	top: 12px;
}

#accordionu165
{
	z-index: 35;
	width: 920px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u174
{
	z-index: 36;
	width: 920px;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u175
{
	z-index: 38;
	height: 55px;
	width: 920px;
	vertical-align: top;
	position: relative;
	background: url("../images/u175.png") no-repeat 0px 0px;
}

#u175:hover
{
	background: url("../images/u175-r.png") no-repeat 0px 0px;
}

#u175:active
{
	background: url("../images/u175-m.png") no-repeat 0px 0px;
}

#u175.AccordionPanelTabOpen
{
	background: url("../images/u175-a.png") no-repeat 0px 0px;
}

#u176
{
	z-index: 42;
	width: 918px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 100px;
	position: relative;
}

#pbuttonu430
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 42px;
	margin-left: 85px;
}

#buttonu430
{
	z-index: 49;
	width: 231px;
	border-color: #787878;
	background-color: #4EA0C9;
	border-radius: 10px;
	padding-bottom: 8px;
	position: relative;
}

#buttonu430:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 0px;
}

#u431
{
	z-index: 51;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 56px;
	background: url("../images/u431.png") no-repeat 0px 0px;
}

#buttonu430:hover #u431
{
	background: url("../images/u431-r.png") no-repeat 0px 0px;
}

#buttonu427
{
	z-index: 48;
	width: 231px;
	height: 25px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	margin-top: 20px;
	position: relative;
}

#buttonu427:hover
{
	background-color: #545454;
	width: 231px;
	height: 25px;
	min-height: 0px;
	margin: 20px 0px 0px;
}

#buttonu427.ButtonSelected
{
	background-color: #CACACA;
	width: 231px;
	height: 25px;
	min-height: 0px;
	margin: 20px 0px 0px;
}

#buttonu178
{
	z-index: 43;
	width: 231px;
	border-color: #787878;
	background-color: #4EA0C9;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 459px;
}

#buttonu178:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 100px -10000px 0px 0px;
}

#buttonu178.ButtonSelected
{
	background-color: #4EA0C9;
	width: 231px;
	min-height: 0px;
	margin: 100px -10000px 0px 0px;
}

#u179
{
	z-index: 45;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
	background: url("../images/u179.png") no-repeat 0px 0px;
}

#buttonu178:hover #u179
{
	background: url("../images/u179-r.png") no-repeat 0px 0px;
}

#u180
{
	z-index: 47;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #ED1C24;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu178:hover #u180
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u166
{
	z-index: 53;
	width: 920px;
	background-color: transparent;
	position: relative;
}

#u169
{
	z-index: 55;
	height: 46px;
	width: 920px;
	vertical-align: top;
	position: relative;
	background: url("../images/u169.png") no-repeat 0px 0px;
}

#u169:hover
{
	background: url("../images/u169-r.png") no-repeat 0px 0px;
}

#u169:active
{
	background: url("../images/u169-m.png") no-repeat 0px 0px;
}

#u169.AccordionPanelTabOpen
{
	background: url("../images/u169-a.png") no-repeat 0px 0px;
}

#u167
{
	z-index: 59;
	width: 918px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 89px;
	position: relative;
}

#pbuttonu454
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 39px;
	margin-left: 118px;
}

#buttonu454
{
	z-index: 66;
	width: 231px;
	border-color: #787878;
	background-color: #4EA0C9;
	border-radius: 10px;
	padding-bottom: 8px;
	position: relative;
}

#buttonu454:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 0px;
}

#u455
{
	z-index: 68;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 56px;
	background: url("../images/u455.png") no-repeat 0px 0px;
}

#buttonu454:hover #u455
{
	background: url("../images/u455-r.png") no-repeat 0px 0px;
}

#buttonu433
{
	z-index: 65;
	width: 231px;
	height: 25px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	margin-top: 12px;
	position: relative;
}

#buttonu433:hover
{
	background-color: #545454;
	width: 231px;
	height: 25px;
	min-height: 0px;
	margin: 12px 0px 0px;
}

#buttonu433.ButtonSelected
{
	background-color: #CACACA;
	width: 231px;
	height: 25px;
	min-height: 0px;
	margin: 12px 0px 0px;
}

#buttonu188
{
	z-index: 60;
	width: 231px;
	border-color: #787878;
	background-color: #4EA0C9;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 459px;
}

#buttonu188:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 89px -10000px 0px 0px;
}

#u189
{
	z-index: 62;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
	background: url("../images/u189.png") no-repeat 0px 0px;
}

#buttonu188:hover #u189
{
	background: url("../images/u189-r.png") no-repeat 0px 0px;
}

#u190
{
	z-index: 64;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #ED1C24;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu188:hover #u190
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u170
{
	z-index: 70;
	width: 920px;
	background-color: transparent;
	position: relative;
}

#u171
{
	z-index: 72;
	height: 46px;
	width: 920px;
	vertical-align: top;
	position: relative;
	background: url("../images/u171.png") no-repeat 0px 0px;
}

#u171:hover
{
	background: url("../images/u171-r.png") no-repeat 0px 0px;
}

#u171:active
{
	background: url("../images/u171-m.png") no-repeat 0px 0px;
}

#u171.AccordionPanelTabOpen
{
	background: url("../images/u171-a.png") no-repeat 0px 0px;
}

#u172
{
	z-index: 76;
	width: 918px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 89px;
	position: relative;
}

#pbuttonu458
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 119px;
}

#buttonu458
{
	z-index: 83;
	width: 231px;
	border-color: #787878;
	background-color: #4EA0C9;
	border-radius: 10px;
	padding-bottom: 8px;
	position: relative;
}

#buttonu458:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 0px;
}

#buttonu430.ButtonSelected,#buttonu454.ButtonSelected,#buttonu458.ButtonSelected
{
	background-color: #4EA0C9;
	width: 231px;
	min-height: 0px;
	margin: 0px;
}

#u459
{
	z-index: 85;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 56px;
	background: url("../images/u459.png") no-repeat 0px 0px;
}

#buttonu458:hover #u459
{
	background: url("../images/u459-r.png") no-repeat 0px 0px;
}

#buttonu456
{
	z-index: 82;
	width: 231px;
	height: 25px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	margin-top: 17px;
	position: relative;
}

#buttonu456:hover
{
	background-color: #545454;
	width: 231px;
	height: 25px;
	min-height: 0px;
	margin: 17px 0px 0px;
}

#buttonu456.ButtonSelected
{
	background-color: #CACACA;
	width: 231px;
	height: 25px;
	min-height: 0px;
	margin: 17px 0px 0px;
}

#buttonu191
{
	z-index: 77;
	width: 231px;
	border-color: #787878;
	background-color: #4EA0C9;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 459px;
}

#buttonu191:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 89px -10000px 0px 0px;
}

#buttonu188.ButtonSelected,#buttonu191.ButtonSelected
{
	background-color: #4EA0C9;
	width: 231px;
	min-height: 0px;
	margin: 89px -10000px 0px 0px;
}

#u192
{
	z-index: 79;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
	background: url("../images/u192.png") no-repeat 0px 0px;
}

#buttonu191:hover #u192
{
	background: url("../images/u192-r.png") no-repeat 0px 0px;
}

#u193
{
	z-index: 81;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #ED1C24;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu191:hover #u193
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u280
{
	z-index: 87;
	width: 920px;
	background-color: transparent;
	position: relative;
}

#u281
{
	z-index: 89;
	height: 46px;
	width: 920px;
	vertical-align: top;
	position: relative;
	background: url("../images/u281.png") no-repeat 0px 0px;
}

#u281:hover
{
	background: url("../images/u281-r.png") no-repeat 0px 0px;
}

#u281:active
{
	background: url("../images/u281-m.png") no-repeat 0px 0px;
}

#u281.AccordionPanelTabOpen
{
	background: url("../images/u281-a.png") no-repeat 0px 0px;
}

#u282
{
	z-index: 93;
	width: 918px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 93px;
	position: relative;
}

#u176:active,#u167:active,#u172:active,#u282:active
{
	background-color: #FFFFFF;
	width: 918px;
	min-height: 0px;
	margin: 0px;
}

#buttonu462
{
	z-index: 100;
	width: 231px;
	border-color: #787878;
	background-color: #4EA0C9;
	border-radius: 10px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 119px;
}

#buttonu462:hover
{
	background-color: #930049;
	width: 231px;
	min-height: 0px;
	margin: 40px -10000px 0px 0px;
}

#buttonu462.ButtonSelected
{
	background-color: #76419C;
	width: 231px;
	min-height: 0px;
	margin: 40px -10000px 0px 0px;
}

#u463
{
	z-index: 102;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 56px;
	background: url("../images/u463.png") no-repeat 0px 0px;
}

#buttonu462:hover #u463
{
	background: url("../images/u463-r.png") no-repeat 0px 0px;
}

#buttonu460
{
	z-index: 99;
	width: 231px;
	height: 24px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 119px;
}

#buttonu460:hover
{
	background-color: #545454;
	width: 231px;
	height: 24px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#buttonu460.ButtonSelected
{
	background-color: #CACACA;
	width: 231px;
	height: 24px;
	min-height: 0px;
	margin: 86px -10000px 0px 0px;
}

#buttonu286
{
	z-index: 94;
	width: 231px;
	border-color: #787878;
	background-color: #4EA0C9;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 459px;
}

#buttonu286:hover
{
	background-color: #930049;
	width: 231px;
	min-height: 0px;
	margin: 85px -10000px 0px 0px;
}

#buttonu286.ButtonSelected
{
	background-color: #76419C;
	width: 231px;
	min-height: 0px;
	margin: 85px -10000px 0px 0px;
}

#u287
{
	z-index: 96;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
	background: url("../images/u287.png") no-repeat 0px 0px;
}

#buttonu286:hover #u287
{
	background: url("../images/u287-r.png") no-repeat 0px 0px;
}

#u288
{
	z-index: 98;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #ED1C24;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu286:hover #u288
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu178.ButtonSelected #u180,#buttonu188.ButtonSelected #u190,#buttonu191.ButtonSelected #u193,#buttonu286.ButtonSelected #u288
{
	background-color: #ED1C24;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#pbuttonu578
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 15px;
}

#buttonu578
{
	z-index: 108;
	width: 231px;
	border-color: #787878;
	background-color: #4EA0C9;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu578:hover
{
	background-color: #930049;
	width: 231px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#buttonu578.ButtonSelected
{
	background-color: #4EA0C9;
	width: 231px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u579
{
	z-index: 110;
	height: 34px;
	width: 132px;
	vertical-align: top;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 49px;
	background: url("../images/u579.png") no-repeat 0px 0px;
}

#buttonu578:hover #u579
{
	background: url("../images/u579-r.png") no-repeat 0px 0px;
}

#buttonu576
{
	z-index: 104;
	width: 231px;
	border-color: #787878;
	background-color: #4EA0C9;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 690px;
}

#buttonu576:hover
{
	background-color: #930049;
	width: 231px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu576.ButtonSelected
{
	background-color: #4EA0C9;
	width: 231px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u577
{
	z-index: 106;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 56px;
	background: url("../images/u577.png") no-repeat 0px 0px;
}

#buttonu576:hover #u577
{
	background: url("../images/u577-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

