<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seguridadservicios.controlacceso.seguridadservicios" >

    <uses-sdk android:minSdkVersion="17" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.gui.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".view.gui.HomeActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.gui.DoorActivity"
            android:label="@string/title_activity_puertas" />
        <activity
            android:name="view.listas.ListViewSelectSimple"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.gui.FrontDoorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".view.gui.RequestRegistrationActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_request_registration"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.gui.PermissionsActivity"
            android:label="@string/title_activity_permissions" >
        </activity>
        <activity
            android:name=".view.gui.RegistredUserActivity"
            android:label="@string/title_activity_registred_user" >
        </activity>
        <activity
            android:name=".view.gui.HistoryDoorAccessActivity"
            android:label="@string/title_activity_history_door_access" >

        </activity>
        <activity
            android:name=".view.gui.RegisteredActivity"
            android:label="@string/title_activity_registered" >
        </activity>
        <activity
            android:name=".view.gui.PesonalDataActivity"
            android:label="@string/title_activity_pesonal_data" >
        </activity>
        <activity
            android:name=".view.gui.ServiceTestActivity"
            android:label="@string/title_activity_service_test" >
        </activity>
    </application>

</manifest>
